body{
    font-family: "Montserrat";
}
*{
    max-width: 100%;
}
#title{
    background-color:  #ff4c68;
    color: white;
}
.container-fluid{
    padding: 3% 15% 12%;
}
h1{
    font-family: "Montserrat-Black","Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* navigation bar */
.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding:0 18px;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image */
.rotatemobile{
    transform: rotate(25deg);
    width : 40%;
    position: absolute;
}
/* features */
#features{
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
h3{
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: bold;
}
.img-features{
    color: #ef8172;
    margin-bottom: 1rem;
}
.img-features:hover{
    color : #ff4c68;
}
.desc{
    color: #8f8f8f;
}

/* Testimonial Section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}

.carousel-inner{
    padding: 7% 15%;
}

/* pricing */
#pricing{
    text-align: center;
    padding : 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* call to action */
#cta{
    text-align: center;
    font-family: "Montserrat-Black","Montserrat";
    color: #fff;
    background-color: #ff4c68;
    padding-top: 4%;
    padding-bottom: -3%;
}
#cta-heading{
    font-size: 3.5rem;
    padding: 0 10% 0;
}

/* footer */
#footer{
    background-color: #fff;
    text-align: center;
    padding: 5% 0 5%;
}
.logo{
    padding: 1% 1%;
}

@media (max-width: 1028px)
{
    #title{
        text-align: center;
    }
    .rotatemobile{
        transform: rotate(-25deg);
        position:static;
        width: 80%;
        padding: 10% 0 0 30%;
    }
    
}
